/* Autograder.css */
/* Colors: yellow #F0CA0C; green #015847; */
/* Formatting for static content */
html {
	margin: 0 !important;
	padding: 0;
 	height: 100%; /* needed for container min-height */
 	min-height: 100%;
	background: #FFFFFF !important; 
	font-family: Raleway, sans-serif;
}

body{
	margin: 0 !important;
	padding: 0;
	height:100%;
	min-height: 100%;
	background: #015847 !important; 
	font-family: Raleway, sans-serif;
}

h1 {
	margin:0;
	padding:1vw;
	color: #fff;
}

div#container {
	position: relative; /* needed for footer positioning*/
	margin: 0 auto; /* center, not in IE5 */
	width: 100%;
	background: #fff;
	height: auto !important; /* real browsers */
	height: 100%; /* IE6: treaded as min-height */
	min-height: 100%; /* real browsers */
}

div#header {
	color: #fff;
	font-size: 1vw;
	background: #015847;
	border-bottom: 0.3vw double gray;
	text-align: center;
}

div#content {
 	padding-bottom: 4.5em; /* prevent footer overlap */
	
	overflow: hidden;
}

div#footer {
	position: absolute !important;
	width: 100% !important;
	bottom: 0; /* stick to bottom */
	background: black;
	color: #fff;
}

div#footer p {
	text-align: center;
	padding: 1em;
	margin: 0;
}

div#footer a:link {	color: #F0CA0C; }
div#footer a:visited { color: #F0CA0C; }
div#footer a:hover { color: #F0CA0C; }
div#footer a:active { color: #F0CA0C; }

/* Formatting for dynamic content */

.courseSelectionPage {
	margin-top: 2vw;
	/* center page content */
	margin-left: auto;
	margin-right: auto;
}

.courseSelectionPageTitle, .coursePageTitle {
	margin-bottom: 1vw;
	font-size: 200%;
	text-align: center;
	font-weight: bold;
}

.errorLabel {
	color: red;
	text-align: center;
}

.listingStyle {
	border: 2px solid gray;
	margin: 0.5em 4em 0.5em;
}

.listingHighlight, .listingSelected {
	background: #F0CA0C;
}

.gwt-Label-listingTitle {
	padding: 1em;
	font-size: 180%;
}

.coursePageHeader {
	margin: 1vw auto;
}


.assignmentContent {
	margin: 2vw 1vw 0;
	width: 83vw;
	min-height: 75vh;
}

div#submitted {
	color: green;
}

div#notSubmitted {
	color: red;
}

.assignmentTitleAndContent {
	min-height: 100%;
	border-left: 0.3vw double gray;
}

.com-google-gwt-user-cellview-client-CellTree-Style-cellTreeWidget-assignmentSideBar {
	width: 15vw;
	min-width: 15em;
	font-size: 150%;
	padding-bottom: 2em;
}

.problemContent {
	font-size: 15px;
	padding: 1em;
	min-height: 100vh;
}

.problemFlowPanel div {
	float: left;
	margin-left:10px;
	display: inline-block;
	padding-right:18vw;
}